body {
    font-family:  Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

section {
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin: 0 0 10px 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  